Heroes of Pymoli Data Analysis

-Of the 780 total players, the majority of them are male. 
-The most popular items seem to be the cheapest so price may be a factor in popularity.
-Purchase count and purchase value are highest in age range 20-24. Age group 15-19 show the second highest values. As such, we can advise that marketing be targeting these age brackets to yield greater returns.

In [78]:
import pandas as pd

In [79]:
Pymoli="/Users/rulaothman/Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.json"

In [80]:
currency= '${0:.2f}'

In [81]:
Pymoli_df=pd.read_json(Pymoli)
Pymoli_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [82]:
#Player Count 
Player_count=Pymoli_df['SN'].value_counts().count()
Player_count

573

In [83]:
#Purchasing Analysis 
unique = Pymoli_df['Item Name'].value_counts().count()
unique
count = Pymoli_df['Price'].count()
average = Pymoli_df['Price'].mean()
total = Pymoli_df['Price'].sum()

Player_data = [{'Number of Unique Items':unique,
                'Number of Purchases':count,
                'Average Purchase Price':average,
                'Total Revenue': total}]
player_analysis = pd.DataFrame(Player_data).style.format({'Percentage': '{:.2%}', 'Average Purchase Price': currency, 'Total Revenue': currency})
player_analysis

In [84]:
#Gender Demographics 
Gender_df = Pymoli_df.groupby(['Gender'])
print(Gender_df)

<pandas.core.groupby.DataFrameGroupBy object at 0x11622a9e8>

In [85]:
count = Pymoli_df.groupby(['Gender']).count()
total = Pymoli_df['Gender'].count()
percentage = count/total
gender_data = {'Percentage': percentage['SN'],
          'Total Players': count['SN']}
gender_analysis = pd.DataFrame(gender_data).style.format({'Percentage': '{:.2%}'})
gender_analysis

In [86]:
#Purchase Analysis by gender 
count = Pymoli_df.groupby(['Gender']).count()
average = Pymoli_df.groupby(['Gender']).mean()
total = Pymoli_df.groupby(['Gender']).sum()
normalized_total = total/Pymoli_df['Gender'].count()

genderpurchase_data= {'Purchase Count': count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value': total['Price'], 'Normalized Totals': normalized_total['Price']}

purchase_analysis = pd.DataFrame(genderpurchase_data).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency, 'Normalized Totals': currency})
purchase_analysis

In [87]:
Pymoli_df['Age'].max()

45

In [88]:
Pymoli_df['Age'].min()

7

In [89]:
#4-year bins 
bins=([0, 10, 15, 20, 25, 30, 35, 40, 45])
group_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

df= Pymoli_df.groupby(pd.cut(Pymoli_df["Age"], bins, labels = group_names))
count= Pymoli_df.groupby(pd.cut(Pymoli_df["Age"], bins, labels = group_names)).count()
average= Pymoli_df.groupby(pd.cut(Pymoli_df["Age"], bins, labels = group_names)).mean()
total= Pymoli_df.groupby((pd.cut(Pymoli_df["Age"], bins, labels = group_names))).sum()
normalized_total= total/Pymoli_df['Gender'].count()

agedemo_data= {'Purchase Count': count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value': total['Price'], 'Normalized Totals': normalized_total['Price']}
purchase_analysis = pd.DataFrame(agedemo_data).rename(index={'0-10':'<10','10-14':'10-14','15-19':'15-19','20-24':'20-24','25-29':'25-29','30-34':'30-34','35-39':'35-39','40+':'>40'}).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency, 'Normalized Totals': currency})
purchase_analysis

In [90]:
#Top 5 Spenders 
count = Pymoli_df.groupby(['SN']).count()
average = Pymoli_df.groupby(['SN']).mean()
total = Pymoli_df.groupby(['SN']).sum()

topspender_data= {'Purchase Count': count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value': total['Price']}
purchase_analysis = pd.DataFrame(topspender_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

In [91]:
#Most Popular Item
count = Pymoli_df.groupby(['Item ID','Item Name']).count()
average = Pymoli_df.groupby(['Item ID','Item Name']).mean()
total = Pymoli_df.groupby(['Item ID','Item Name']).sum()

topitem_data= {'Purchase Count': count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value': total['Price']}

purchase_analysis = pd.DataFrame(topitem_data).sort_values('Purchase Count', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

In [92]:
#Most Profitable Item
purchase_analysis = pd.DataFrame(topitem_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis